md-card#user_dashboard(flex='nogrow')
  if user
    img.md-card-image(ng-src='images/north_bg.jpg', alt='')
    md-card-header(layout-align='space-around center')
      md-card-avatar
        img.md-user-avatar(src=(user.avatar ? user.avatar.url : 'https://placehold.it/300?text=' + user.name.first[0] + user.name.last[0]))
      md-card-header-text
        span.md-headline= user.name.full
        span.md-subhead= user.bannerId
    md-card-actions(layout='row', layout-align='start center')
      if user.canAccessKeystone
        md-button.md-raised.md-primary(href='/keystone', target='_self') Admin
      md-button.md-raised(href='/keystone/signout', target='_self') Sign out
      md-card-icon-actions
        md-button.md-icon-button.md-primary(aria-label='edit profile')
          ng-md-icon(icon='edit')
    md-card-content
      p.md-subhead
      if user.bio
        = user.bio
      else
        em No bio written...
  else
    md-card-header.signin-msg(layout-align='space-around center')
      md-card-content(layout='column')
        p.md-headline Sign in to or register to save your user preferences across sessions!
        md-button.md-raised.md-primary(href='/keystone/signin', target='_self') Sign in
        md-button.md-primary(href='/keystone/signin', target='_self') Register