doctype html
html.no-js
  head
    base(href='/')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title=title || 'UOIT Virtual Tour'

    link(rel='apple-touch-icon-precomposed', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    meta(name='application-name', content='UOIT Virtual Tour')
    meta(name='msapplication-TileColor', content='#0077CA')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/main.css')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA3Z_tA7YdsRXkHdThiC-VA0dvwX6a4Kto')
  body(ng-controller='MainCtrl as mc', layout='column', layout-fill='', ng-cloak='')
    div(flex='', layout='column', layout-fill='')
      title-bar(title='Virtual Tour', mobile='mc.mobile', flex='nogrow')
        if user
          if user.canAccessKeystone
            md-button(href='/keystone' target='_self') Dashboard
            md-button(href='/keystone/signout' target='_self') Sign Out
        else
          md-button(href='/keystone/signin' target='_self') Sign In
        title-bar-button(ng-repeat='(o, option) in mc.titlebar.options', on-click='mc.titlebar.clickHandlers[o]()', active='option.active', icon='option.icon', tooltip='option.tooltip')
      div(ng-class="{ 'toolbar-open' : mc.toolbar.isOpen&&!landscapeMobile, 'toolbar-condensed': mc.toolbar.isCondensed }", layout='row', layout-align='end start', flex='grow')
        section#scene-view.scene-view(flex='grow', layout='column', layout-fill='', ng-class="{ 'map-open' : ('map' | isState) }")
          aframe-scene
            if user
              if user.canAccessKeystone
                scene-editor
        button-bar(layout='column', items='mc.toolbar.views', open='mc.toolbar.isOpen', condensed='mc.toolbar.isCondensed', mobile='mc.mobile')
    div(ng-class="{ 'toolbar-open' : mc.toolbar.isOpen&&!landscapeMobile, 'toolbar-condensed': mc.toolbar.isCondensed }", layout='row', flex='')
      md-sidenav.md-sidenav-right(ng-class="{ 'map-open' : ('map' | isState), 'is-mobile': mc.mobile.screen, 'is-landscape': mc.mobile.landscape }", md-component-id='right', md-disable-backdrop='', md-whiteframe='4', flex='')
        ui-view(flex='', layout='column', layout-fill='', resizable='', r-directions='["left"]' ng-style='{ maxWidth: (\'map\' | isState) ? \'none\' : \'600px\' }')
    script(src='js/main.js')
